/* <uniquifier>: Use a uniquifier for the class name
   <weight>: Use a value from 100 to 900 */

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
  background: #F3F5FC;
  margin: 3%;
}

.flex-box {
    display: flex;
    justify-content: space-between;
    height: 540px;
}

.entrada {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-content: space-between;
    width: 47.5%;
    /* border-bottom: 1px solid; */
    height: 80%;
    padding: 2%;

}

textarea {
    color: #0A3871;
    background: transparent;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 400;
    border: none;
}

textarea:focus {
    outline: transparent;
}

::placeholder {
    color: #0A3871;
}

.caja-advertencia {
    padding: 1em;
}

.botones {
    display: flex;
    flex-direction: column;
}

.simbolo-advertencia {
    width: 12px;
    vertical-align: middle;
}

.advertencia {
    display: inline;
    text-align: left;
    font-size: 12px;
    color: #495057;
}

.botones-entrada {
    display: flex;
    justify-content: space-between;
}

.encriptar {
    border: 1px solid #0A3871;
    border-radius: 24px;
    padding: 1em;
    background: #0A3871;
    color: #FFFFFF;
    width: 47.5%;
    height: 60px;
}

.desencriptar {
    border: 1px solid #0A3871;
    border-radius: 24px;
    padding: 1em;
    background: #D8DFE8;
    color: #0A3871;
    width: 47.5%;
    height: 60px;
}

.salida {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 25%;
    min-width: 25%;
    height: 540px;
    max-height: 600px;
    background: #FFFFFF;
    /* margin: 0 1.5%; */
    padding: 2%;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    box-shadow: 0 24px 32px -4px lightgray;
}

#texto-salida {
    width: 99%;
    margin: 0 0 10%;
    color: #495057;
    background: transparent;
    font-size: 20px;
    text-align: left;
    align-self: flex-start;
}

#salida-inicio {
    margin: auto; /*mantiene centrado el item*/
}

.persona {
    width: 90%;
}

.mensaje-uno {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.25em;
    color: #343A40;
    margin: 1em 0 0 0;
}

.mensaje-dos {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5em;
    color: #495057;
    margin: 1em 0 0 0;
}

.copiar {
    width: 100%;
    height: 60px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    padding: 24px;
    background: #FFFFFF;
    color: #0A3871;
    align-self: flex-end;
}

footer {
    text-align: center;
    padding: 20px 0;
    margin: 20px 0;
    color: #495057;
    font-size: 12px;
    background-color: #F3F5FC;
}