/* <uniquifier>: Use a uniquifier for the class name
   <weight>: Use a value from 100 to 900 */

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

header {
    margin: 40px 0 40px 40px;
}

main {
    margin: 0 0 0 240px;
}

.entrada {
    display: inline;
}

#texto-original {
    display: block;
    width: 500px;
    height: 48px;
}

.advertencia {
    display: inline;
}

.salida {
    display: inline;
}

.persona {
    width: 100px;
}

footer {
    text-align: center;
    margin: 40px auto;
}